@import url('https://fonts.googleapis.com/css2?family=Halant:wght@300;400;600&family=Nunito+Sans:wght@300;400;600&display=swap');
/* 
html {
  font-family: 'Halant', serif;
  font-family: 'Nunito Sans', sans-serif;
} */

.v-expansion-panel-content__wrap {
  padding: 0 !important;
}
