@import url('https://fonts.googleapis.com/css2?family=Halant:wght@300;400;600&family=Nunito+Sans:wght@300;400;600&display=swap');
/* 
html {
  font-family: 'Halant', serif;
  font-family: 'Nunito Sans', sans-serif;
} */

.v-expansion-panel-content__wrap {
  padding: 0 !important;
}

.v-toolbar--prominent .v-toolbar__content {
  align-items: center !important;
}

.v-toolbar__content {
  height: 128px !important;
  width: 100% !important;
  display: grid !important;
}
