@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html {
  font-family: 'Roboto', sans-serif;
}

.v-expansion-panel-content__wrap {
  padding: 0 !important;
}

.v-toolbar--prominent .v-toolbar__content {
  align-items: center !important;
}

.v-toolbar__content {
  height: 128px !important;
  width: 100% !important;
  display: grid !important;
}
